<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bowen.community.dao.UserMapper">
    <sql id="selectFields">
        userid, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>
    <sql id="insertFields">
        userid, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <select id="selectById" resultType="Users">
        select <include refid="selectFields"></include>
        from users
        where userid = #{userid}
    </select>
    <select id="selectByName" resultType="Users">
        select <include refid="selectFields"></include>
        from users
        where username = #{username}
    </select>
    <select id="selectByEmail" resultType="Users">
    select <include refid="selectFields"></include>
    from users
    where email = #{email}
    </select>

    <insert id="insertUsers" parameterType="Users" keyProperty="userid">
        insert into users (<include refid="insertFields"></include>)
        values(#{userid},#{username},#{password},#{salt},#{email},#{type},#{status},#{activationCode},#{headerUrl},#{createTime})
    </insert>

    <update id="updateStatus">
        update users set status = #{status} where userid = #{userid}
    </update>
    <update id="updateHeader">
        update users set header_url = #{headerUrl} where userid = #{userid}
    </update>
    <update id="updatePassword">
    update users set password = #{password} where userid = #{userid}
    </update>
</mapper>